/*
* {
	border: solid black;
}
*/

body {
	background-color: ivory;
	text-align: center;
	border: dashed blue;
}

h2 {
	font-family: "Serif";
	font-size: 50px;
	color: lightsalmon;
}

h1 {
	font-family: "Serif";
	font-size: 70px;
	color: coral;
	border-bottom: solid blue;
	margin-left: 30%;
	margin-right: 30%;
}

h3 {
	display: inline;
	font-size: 200%;
}


a {
	color: palevioletred;
	text-decoration: none;	
}

a:hover {
	color: hotpink;
	font-style: italic;
	text-decoration: underline;
}


ul {
	list-style-type: none;
    overflow: hidden;
    background-color: khaki;
}

li {
	float: left;
}

li a {
	display: block ;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

img {
	border: solid aqua;
	width: 50% ;
	height: 50% ;
}
